@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";

}

<script type="text/javascript">

    $(document).ready(function () {
        $('#Reports').addClass('active');
        $('#wReportsDonation').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        PagerClickBind();

        $("#dReceiptDate, #EndDate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-50:+50", altFormat: 'dd/mm/yy', dateFormat: "dd/mm/yy" });

    });

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
             ReceiptsBind($(this).text());
        });
    }

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
         ReceiptsBind(1);
    }



    function  ReceiptsBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
      //  var Search = $('#keyword').val().trim();
        var Search = '';
    
        var sLastName = $('#sLastName').val();
        var dReceiptDate = $('#dReceiptDate').val();
        var iReceiptId = $('#iReceiptId').val();
        var iDonorId = $('#iDonorId').val();
        var iYear = $('#iYear').val();


       
        $.ajax({
            url: '@Url.Action("ReceiptsList", "Receipts")',
            type: 'GET',
            cache: false,
            data: { sLastName: sLastName, dReceiptDate: dReceiptDate, iReceiptId: iReceiptId, iDonorId: iDonorId, iYear: iYear, Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items},
            success: function (result) {
                $('#divReceipts').html(result);
                PagerClickBind();
            }
        });
    }



    function ClearSearch() {
        $('#keyword').val('');
        $('#sLastName').val('');
        $('#dReceiptDate').val('');
        $('#iReceiptId').val('');
        $('#iDonorId').val('');
        $('#iYear').val('');

         ReceiptsBind(1);
    }



</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="" />
<input id="hdnsortorder" type="hidden" value="" />

<!-- breadcumb -->


<div class="content-header">
    <h1>Receipts</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index", " Receipts")"><i class="fa fa-money"></i> Receipts</a></li>
        <li class="active"><i class="fa fa-money"></i>  Receipts</li>
    </ol>
</div>
<!--end breadcumb -->

<div class="content">
    <!-- Main content -->

    <div id="divmessage">
        @if (TempData["message"] != null)
        {@Html.Raw(TempData["message"].ToString())}

        @if (ViewBag.message != null)
        {@Html.Raw(ViewBag.message.ToString())}
    </div>
    <div class="box">
        <div class="clearfix box-body">
            <div class="clearfix row">
                @*<div class="col-xs-12 col-lg-3 col-sm-6">
                        <label>Search</label>
                        <input type="text" placeholder="Key Word" name="keyword" id="keyword" class="form-control" />
                    </div>*@

                <div class="col-xs-12 col-lg-2 col-sm-6">
                    <label>Type</label>
                    <select name="" id="Pooja" class="form-control">
                       
                        <option value="0">Pooja/Donations</option>
                       
                    </select>
                </div>

                <div class="col-xs-12 col-lg-2 col-sm-6">
                    <label>Receipt Id</label>
                    <input type="text" placeholder="" name="iReceiptId" id="iReceiptId" class="form-control" />
                </div>

                <div class="col-xs-12 col-lg-2 col-sm-6">
                    <label>Receipt Date</label>
                    <input type="text" placeholder="" name="dReceiptDate" id="dReceiptDate" class="form-control" />
                </div>

                <div class="col-xs-12 col-lg-2 col-sm-6">
                    <label>Last Name</label>
                    <input type="text" placeholder="" name="sLastName" id="sLastName" class="form-control" />
                </div>




                <div class="col-xs-12 col-lg-4 col-sm-6">
                    <div>
                        <label>&nbsp;</label>
                    </div>
                    <button class="btn btn-primary" type="submit" onclick=" ReceiptsBind(1);">Search</button>
                    <button class="btn btn-info" type="submit" onclick="ClearSearch();">Clear</button>
                 </div>
            </div>
        </div>
        <div id="divReceipts" class="box-body table-responsive">
            @*@{Html.RenderAction("ReceiptsList", "Receipts");}*@
        </div>


    </div>
</div>





