@using System.Configuration
@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    List<BalajiVedic.Entities.PaymentMethods> lstPaymentMethods = ViewBag.lstPaymentMethods;

    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;
    string userRole = null;
    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);

        userRole = authTicket.UserData;
    }

    var imglocNormal = ConfigurationManager.AppSettings["baseurl"] + "Content/Admin/PaymentMethods/";
}



<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div>
        }
        else
        {


            if (lstPaymentMethods.Count != 0)
            {
                foreach (var item in lstPaymentMethods)
                {
    <div class="col-md-3" style=" margin-top:20px">

        <a href="@(imglocNormal + item.sLastUpdateUser)" class='lightview' data-lightview-group='example' title="@item.iPaymentMethodID">
            <img width="100%" class="borwhite5 border-radius shadow" src="@BalajiVedic.BLL.Common.ValidateImage((imglocNormal + item.sLastUpdateUser), imglocNormal + "no-image.png")"
                 style="background-color:Wheat;text-decoration:none;height:106px;width:157px;border-width:0px;" />
        </a>

    </div>
                }
            }

        }
    </div>
</div>

@Html.Raw(BalajiVedic.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))


