@{    
    ViewBag.Title = "Change Password - " + System.Configuration.ConfigurationManager.AppSettings["ApplicationName"];
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    var objuser = (TCAssociationTool.Entities.Users)ViewBag.objuser;
}
<script>
    $(document).ready(function () {
        $('#MWebsite').addClass('active');
    });
    function ValidatePassword() {

        if ($('#OldPassword').val() == "") { document.getElementsByName('OldPassword')[0].placeholder = 'Required'; $('#OldPassword').focus().addClass("validate"); return false; } else { $('#OldPassword').focus().removeClass("validate"); }
        if ($('#NewPassword').val() == "") { document.getElementsByName('NewPassword')[0].placeholder = 'Required'; $('#NewPassword').focus().addClass("validate"); return false; } else { $('#NewPassword').focus().removeClass("validate"); }
        if (!Common.ValidatePassword($('#NewPassword').val())) { $('#NewPassword').val(''); document.getElementsByName('NewPassword')[0].placeholder = 'Please enter minimum 8 charecters (atleast one special charecter & one numeric charecter).'; $('#NewPassword').focus().addClass("validate"); return false; } else { $('#NewPassword').focus().removeClass("validate"); }
        if ($('#ConfPassword').val() == "") { document.getElementsByName('ConfPassword')[0].placeholder = 'Required'; $('#ConfPassword').focus().addClass("validate"); return false; } else { $('#ConfPassword').focus().removeClass("validate"); }
        if ($('#NewPassword').val() != $('#ConfPassword').val()) { $('#ConfPassword').val(''); document.getElementsByName('ConfPassword')[0].placeholder = 'Password and confirm password do not match.'; $('#ConfPassword').focus().addClass("validate"); return false; } else { $('#ConfPassword').focus().removeClass("validate"); }

        //if (!Common.ValidatePassword($('#NewPassword').val())) { $('#spanNewPassword').html('Please enter minimum 8 charecters (atleast one special charecter & one numeric charecter).'); $('#NewPassword').focus().addClass("red-border"); return false; } else { $('#spanPassword').html(''); $('#Password').focus().removeClass("red-border"); }

        //if (!Common.ValidatePassword($('#OldPassword').val())) { $('#spanPassword').html('Please enter minimum 8 charecters (atleast one special charecter & one numeric charecter).'); $('#Password').focus().addClass("red-border"); return false; } else { $('#spanPassword').html(''); }
        //if ($('#NewPassword').val() == '') { $('#spanNewPassword').html('Required.'); $('#NewPassword').focus().addClass("red-border"); return false; } else { $('#spanNewPassword').html(''); $('#NewPassword').focus().removeClass("red-border"); }
        //if (!Common.ValidatePassword($('#NewPassword').val())) { $('#spanNewPassword').html('Please enter minimum 8 charecters (atleast one special charecter & one numeric charecter).'); $('#NewPassword').focus().addClass("red-border"); return false; } else { $('#spanPassword').html(''); $('#Password').focus().removeClass("red-border"); }
        //if ($('#ConfPassword').val() == '') { $('#spanConfPassword').html('Required.'); $('#ConfPassword').focus().addClass("red-border"); return false; } else { $('#spanConfPassword').html(''); $('#ConfPassword').focus().removeClass("red-border"); }
        //if ($('#NewPassword').val() != $('#ConfPassword').val()) { $('#spanPassword').html('Password and confirm password do not match.'); return false; } else { $('#spanPassword').html(''); }
        return true;
    }

    function resetclass() {
        $('#OldPassword').removeClass("validate");
        $('#NewPassword').removeClass("validate");
        $('#ConfPassword').removeClass("validate");
    }
</script>
<!-- breadcumb -->
<div style="margin-top: -51px;" class="clearfix position-r pull-right">
    <ul class="breadcrumb background-n">
        <li class="active t-t-c"><i class="fa fa-dashboard"> Change Password</li>
    </ul>
</div>
<!--end breadcumb -->
<div class="tabNavWrapper">
    <ul>

        <li><a class="active">Change Password</a></li>
    </ul>
</div>

<!-- Left Menu -->
@{Html.RenderAction("LeftControl", "Home");}
<!-- End Left Menu -->
<div class="pageHeadingBlock ">
    <div class="grayBackground">
        <h3 class="title">Change Password</h3>

    </div>
</div>
@if (TempData["message"] != null)
{ <div id="message" class="divmessage">@Html.Raw(TempData["message"].ToString())</div>}


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="text12">

    <tbody>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text9">
                    <tbody>
                        <tr>
                            <td>
                                <br>
                                <table width="96%" cellspacing="0" class="validation" cellpadding="4" border="0" align="center">
                                    @using (Html.BeginForm("ChangePassword", "Account"))
                                    {
                                        @Html.Hidden("UserId", (Int64)@objuser.UserId)
                                        <tbody>
                                            <tr>
                                                <td width="13%">Old Password</td>
                                                <td width="87%">
                                                    <input type="password" name="OldPassword" id="OldPassword" onclick="resetclass();" onkeypress="resetclass();" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanPassword"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>New Password</td>
                                                <td>
                                                    <input type="password" name="NewPassword" id="NewPassword" onclick="resetclass();" onkeypress="resetclass();" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanNewPassword"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Retype Password</td>
                                                <td>
                                                    <input type="password" name="ConfPassword" id="ConfPassword" onclick="resetclass();" onkeypress="resetclass();" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanConfPassword"></span></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <div class="clearfix t-p5">
                                                        <input type="submit" class="btn btn-primary font-w7" value="Submit" onclick="return ValidatePassword();" />
                                                        @*<input type="submit" class="btn btn-primary font-w7" disabled="disabled" value="Submit" />*@
                                                        <a class="btn btn-inverse" href="javascript:history.back()">Cancel</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
